{
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"endOfLine": "lf",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrderTypeScriptVersion": "5.6.3",
	"importOrder": [
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"^assets(/.*)?$",
		"^constant(/.*)?$",
		"^[.]{1,2}/constant$",
		"^components(/.*)?$",
		"^[.]{1,2}/components(/.*)?$",
		"^common(/.*)?$",
		"^[.]{1,2}/common$",
		"^engine(/.*)?$",
		"^hooks(/.*)?$",
		"^[.]{1,2}/hooks$",
		"^locales(/.*)?$",
		"^store(/.*)?$",
		"^types(/.*)?$",
		"^[.]{1,2}/types$",
		"^[.]"
	]
}
