{
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": false,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"printWidth": 80,
	"endOfLine": "lf",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrderTypeScriptVersion": "5.6.3",
	"importOrder": [
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"^assets(/.*)?$",
		"^common/constant$",
		"^(engine|hooks|locales|store)/constant$",
		"^components/[^/]+/constant$",
		"^[.]{1,2}/constant$",
		"^components$",
		"^components/[^/]+$",
		"^components/[^/]+/(?!common$|constant$|hooks$|types$)",
		"^[.]{1,2}/components(/.*)?$",
		"^common/(?!constant$|types$)",
		"^(engine|hooks|locales|store)/common$",
		"^[.]{1,2}/common$",
		"^engine/(?!common$|constant$|hooks$|types$)",
		"^hooks/(?!common$|constant$|types$)",
		"^(common|engine|locales|store)/hooks$",
		"^components/[^/]+/hooks$",
		"^[.]{1,2}/hooks$",
		"^locales/(?!common$|constant$|hooks$|types$)",
		"^store$",
		"^store/(?!common$|constant$|hooks$|types$)",
		"^types/",
		"^common/types$",
		"^(engine|hooks|locales|store)/types$",
		"^components/[^/]+/types$",
		"^[.]{1,2}/types$",
		"^[.]"
	]
}
